# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
.pytest_cache/

# Virtual environment
venv/
env/
ENV/
*.venv

# Environment variables
.env
.env.local

# Data directories (if not tracking data)
data/
chroma/

# IDE
.vscode/
.idea/
*.swp
*.swo

#Gradio
app/.gradio


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# code formating
.ruff_cache